@use "./abstracts/variables";

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding: calc(14px * variables.$multiplier) calc(16px * variables.$multiplier);
}