@use './abstracts/variables';

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // transition: 1s all ease;
}

body {
  margin: 0;
  padding: 0;
}

article {
  padding: calc(14px * variables.$multiplier) calc(16px * variables.$multiplier);

  @media only screen and (min-width: 480px) {
    max-width: 460px;
    margin: auto;

    p,
    input,
    a {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 760px) {
    max-width: 720px;
    padding: calc(10px * variables.$multiplier)
      calc(16px * variables.$multiplier);
    padding-bottom: calc(20px * variables.$multiplier);
  }

  @media only screen and (min-width: 960px) {
    p,
    input,
    a {
      font-size: 21px;
    }
  }

  @media only screen and (min-width: 1440px) {
    p,
    input,
    a {
      font-size: 24px;
    }
  }
}
