@forward './layout';
@use './components/header';
@use './components/cta-button';
@use './abstracts/variables';
@use './components/info-box';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__introduction {
    margin: 22px * variables.$multiplier 0px;
  }

  @media only screen and (min-width: 480px) {
    height: calc(200px * 1.625);
    max-width: calc(380px * 1.625);
  }

  //   @media only screen and (min-width: 760px) {
  //     height: calc(200px * 1.625);
  //     max-width: calc(380px * 1.625);
  //   }

  @media only screen and (min-width: 1024px) {
    height: calc(250px * 1.625);
  }

  .download-page {
    color: variables.$blue;
    margin-top: 12px;
  }
}

.file-select-input {
  display: none;
}

// 👎 Change this next time
.hero__file-select label {
  cursor: pointer;
}

.hero {
  &__file-select,
  &__file-selected {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--disabled {
      display: none;
    }
  }

  &__file-selected {
    color: variables.$darkblue;
  }
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px * variables.$multiplier;

  &__name {
    margin: 0;
  }

  &__icon {
    width: calc(16px * variables.$multiplier);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
