@use '../abstracts/variables';

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: variables.$lightblue;
  border-radius: calc(6px * variables.$multiplier);
  padding: calc(8px * variables.$multiplier) calc(12px * variables.$multiplier);
  margin: 0px auto calc(16px * variables.$multiplier) auto;

  &__title {
    color: variables.$darkblue;
  }

  &__description {
    text-align: center;
  }

  @media only screen and (min-width: 480px) {
    max-width: 460px;

    &__title,
    &__description {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 960px) {
    max-width: 600px;
    padding: calc(16px * variables.$multiplier)
      calc(22px * variables.$multiplier);

    &__title,
    &__description {
      font-size: 21px;
    }
  }

  @media only screen and (min-width: 1440px) {
    p {
      font-size: 24px;
      color: brown;
    }
  }
}
